<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="#" th:action="@{/process}" th:object="${room}" method="post">
        <!--<input type="hidden" th:field="*{id}">-->
        Address: <input type="text" th:field="*{address}" /> <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span> <br />
        City: <input type="text" th:field="*{city}" /> <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span> <br />
        State: <input type="text" th:field="*{state}" /> <span th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></span> <br />
        Price: <input type="text" th:field="*{price}" /> <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span> <br />
        Rented: <input type="text" th:field="*{rented}" /> <span th:if="${#fields.hasErrors('rented')}" th:errors="*{rented}"></span> <br />
        <input type="submit" value="Submit" />

    </form>
</body>
</html>